---
import forfatter from "../assets/images/forfatter.jpg";
---
<div class="py-8 max-w-screen-xl mx-auto text-white">
    <div class="grid  justify-items-center pb-8">
        
        <section>
         
        </section>
        
    </div>
<div class="flex flex-col items-center">
  <div class="flex justify-center space-x-4">
    <div class="relative max-w-xl p-6 rounded-lg scroll-animation opacity-0 translate-y-10">
      <div class="w-full mx-auto mt-8 px-4">
        <img src="src/assets/images/Smartphone--Streamline-Rounded-Material-Symbols.svg" 
             alt="Smartphone" 
             class="h-24 w-auto mx-auto transition transform hover:scale-125 duration-300">
      </div>
      <h2 class="text-3xl font-semibold text-center">1,184,747</h2>
      <p class="mt-2 text-lg text-center">Deltagere</p>
    </div>

    <div class="relative max-w-xl p-6 rounded-lg scroll-animation opacity-0 translate-y-10">
      <div class="w-full mx-auto mt-8 px-4">
        <img src="src/assets/images/Smartphone--Streamline-Rounded-Material-Symbols.svg" 
             alt="Smartphone" 
             class="h-24 w-auto mx-auto transition transform hover:scale-125 duration-300">
      </div>
      <h2 class="text-3xl font-semibold text-center">14.5 M GB</h2>
      <p class="mt-2 text-lg text-center">Slettet data</p>
    </div>

    <div class="relative max-w-xl p-6 rounded-lg scroll-animation opacity-0 translate-y-10">
      <div class="w-full mx-auto mt-8 px-4">
        <img src="src/assets/images/Smartphone--Streamline-Rounded-Material-Symbols.svg" 
             alt="Smartphone" 
             class="h-24 w-auto mx-auto transition transform hover:scale-125 duration-300">
      </div>
      <h2 class="text-3xl font-semibold text-center">3,625 tons</h2>
      <p class="mt-2 text-lg text-center">CO2-produktion forhindret årligt.</p>
    </div>
  </div>

  <p class="mt-20 text-center max-w-2xl">
    Digital Cleanup Day er en global begivenhed, der opfordrer til at slette unødvendige data for at reducere teknologiens miljøpåvirkning. Ved at rydde op i filer, e-mails og apps kan vi mindske energiforbruget i datacentre og skabe en mere bæredygtig digital fremtid.
  </p>
</div>
