---
import forfatter from "../assets/images/forfatter.jpg";
---
<div class="py-8 max-w-screen-xl mx-auto text-white">
    <div class="grid  justify-items-center pb-8">
        
        <section>
         
        </section>
        
    </div>
    <div class="flex justify-center">
        <p> </p>
    </div>
</div>